@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');


:root{
    font-family: Roboto, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
    color: rgb(46, 46, 46);
    
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 120vh;
    width: 100%;
}
.container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;

}
.sidebar{
  font-size: 1.1rem;
  font-weight: 500;
    text-shadow: 0.1rem 0.1rem 0.1rem rgb(0, 0, 0, 0.1);
    background-color: rgb(25,146,212);
    height: 100%;
    grid-column: 1;
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3.5rem;
    justify-content: flex-start;
    padding-top: 1.1rem;
    box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.1);
    z-index: 2;
    padding-right: max(2rem, auto);
    
}
header{
    
    grid-column: 2/-1;
    grid-row: 1;
    padding: 1.1rem 2rem;
    box-shadow: 1.5px 1.5px 4px 4px rgb(0, 0, 0, 0.1);
    z-index: 1;
    
}
nav{
    display: grid;
    grid-template-columns: 3fr 1fr;
    
}
input{
    margin-left: 0.3rem;
    width: clamp(5rem, 30rem, 100%);
    height: 1.56rem;
    border-radius: 10px;
    border: none;
    background-color: rgb(226,232,240);
}
.main{
    grid-column: 2;
    grid-row: 2;
    background-color: rgb(226,232,240);
}
.sidebar *{
    color: white;

}
ul{
    height: 100%;
    list-style: none;
}
a{
    text-decoration: none;
}
li{
    padding-bottom: 0.9rem;
    display: flex;
    gap: 0.5rem;
    justify-content: flex-start;
    align-items: center;
}
.sidebar-header{
    padding-left: 1.29rem;
    grid-row: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.title{
    font-size: 1.4rem;
}
.sidebar-main{padding-left:1.5rem;

    grid-row:2;
}
.sidebar-subsection{
  padding-left:1.5rem;
    grid-row: 3;
}
.sidebar-header>.icon{
    position: static;
    width: 1.8rem;
    height: 2rem;
}
.icon {
    top: 0.2rem;
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    overflow: hidden;
    transform: scale(1.1);
    fill: white;
    margin-right: 0.5rem;
  }
  nav .icon{
    position: relative;
    top: 0.2rem;
    fill: rgb(13, 13, 13);
    transform: scale(1.2);
    
  }
  article .icon{
    fill: rgb(13, 13, 13);
  
  }
  .search-bar{
    display: flex;
  }
  .nav-right{
    display: flex;
    justify-content: space-around;
    gap: 1.45rem;
    align-items: flex-start;
    padding-right: 2.5rem;
    
  }
  .user-name{
    flex: 1;
    font-weight: 700;
    white-space: nowrap;
    text-shadow: none;
    letter-spacing: 0.04rem;
  }
  .profile-picture{
    background-image: url("assets/daoudi-aissa-WIy-npjhus8-unsplash.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size:cover; /* Resize the background image to cover the entire container */
    border-radius: 50%;
    width: 2.6rem;
    height: 2.6rem;
    position: relative;
    bottom: 0.7rem;
   
  }
  .subheader{
    padding-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .subheader-left{
    margin-left: 0.4rem;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr ;
  }
  #bigger{
    
    transform: scale(1.35);
    grid-row: 1/-1;
    grid-column: 1;
    position: static;
  }
  .name, .text{
    margin-left: 0.3rem;
    justify-self:start;
  }
  .text{
    font-size: 0.8rem ;
    font-weight: 600;
  }
  .name{
    align-self: start;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.03rem;
  }
  .subheader-right{
    margin-right: 1rem;
    display: flex;
    gap: 1.8rem;
  }
  button{
    border-radius: 1.2rem;
    background-color: rgb(25,146,212);
    padding: 0.7rem 0;
    width: 5.7rem;
    text-shadow: 0.1rem 0.1rem 0.1rem rgb(0, 0, 0, 0.1);
    color: white;
    font-weight: bold ;
    border: none;
    box-shadow: 0.1rem 0.1rem 0.1rem rgb(0, 0, 0, 0.1);

  }
  .main{
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 4rem 1fr ;
  }
  .titles{
    grid-column:1,-1 ;
  }
  article{
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1.5rem;
    padding: 1.5rem;
    padding-top: 0;
  }
  .announcements, .trending-card{
    padding: 1.5rem;
  }
  .cards, .announcements, .trending-card{
    background-color: white;
    border-radius: 8px;
    box-shadow: 1.5px 1.5px 4px 4px rgb(0, 0, 0, 0.1);
  }
  .cards{
    display: grid;
    grid-template-columns: 2fr 100fr;
    grid-template-rows: 2fr 1fr;
    overflow: hidden;
    
  }
  .liner{
    background-color: orange;
    grid-row: 1/-1;
    grid-column: 1;
  }
  #header-left{
    grid-column: 1;
    grid-row: 1;
    font-size: 1.2rem;
    padding: 1.5rem;
    padding-bottom: 0;
    color: rgb(56, 56, 56);
    font-weight: 500;
  }
  #header-right{
    grid-row: 1;
    grid-column: 2;
    font-size:1.2rem;;
    padding: 1.5rem;
    padding-bottom: 0;
    padding-left: 0;
    color: rgb(56, 56, 56);
    font-weight: 500;
  }
  .announcements{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    
  }
  .card-content{
    padding: 1.5rem;
    padding-bottom: 0;
  }
  h2{
    font-size: 1.1rem;
    padding-bottom: 0.4rem;;
  }
  h2+p{
    font-size: 0.85rem;
    color: rgb(88, 87, 87);
    font-weight: 400; 
    -webkit-font-smoothing: antialiased; 

  }
  .icons-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.3rem;
    padding-right: 1rem;
  }
  .main-right{
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-right: 1.8rem;
    gap: 1.5rem;
  }
  .trending{
    display: grid;
    grid-template-rows: 2rem 1fr;
    padding-bottom: 1.5rem;
  }
  .trending-header{
    font-size: 1.2rem;
    padding-bottom: 0;
    color: rgb(56, 56, 56);
    font-weight: 500;
  }
  .trending-card{
    margin-top: 0;
    display: grid;
    grid-row: repeat(4, 1fr);
  }
  .announcement-post{
    padding: 0.5rem;
    border-bottom: 1px solid rgb(0, 0, 0, 0.3);
  }
  .announcement-post:last-of-type{
    border-bottom: none;
  }
  .announcement-post h3{
    font-size: 0.95rem;
    padding-bottom: 0.3rem;
  }
  .announcement-post p{
    
    font-size: 0.75rem;
    color: rgb(88, 87, 87);
    font-weight: 400; 
    -webkit-font-smoothing: antialiased; 

  }
  

  